body
{
	background-color: #2798d5;
	font-family: 'Chakra Petch', sans-serif;
}
img{
	width: 95%;
	height: 95%;
}

.eventsHead{
	background: red;
	padding-left: 8%;
	border: 1px solid black;
	border-radius: 10%;
	padding-bottom: 5%;
	margin-top: 12px;
	max-width: 90%;
}
.eventsSubHead{
	font-family: 'Varela Round', sans-serif;
	margin: 0 auto;
	margin-top: 5%;
	background: red;
	padding-left: 12%;
	padding-top: 5%;
	border: 1px solid black;
	border-radius: 10%;
	padding-bottom: 5%;
	margin-top: 12px;
	font-size: large;
}

.events{
    color: black;
}
.events-div{
	padding-top: 9%;
	padding-left: 6%;
	background-color: white; 
	width : 88px ;
	height: 88px;
	border: 1px solid black; 
	float: left;
	margin-right: 8px;
}